<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

    <title>Изменение задачи</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/task/list">TODO</a>
            <a class="navbar-btn btn-logout" href="/" th:href="@{/logout}">Выйти</a>
        </div>
    </div>
</nav>

<br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="header-main">
                <h1>Изменение задачи</h1>
                <form th:action="@{/task/list}" th:method="get">
                    <input type="submit"
                           class="btn-link"
                           th:value="отмена"/>
                </form>
            </div><br>

            <div th:if="${isError}">
                <div class="alert alert-danger">Задача с данным названием уже существует!</div>
            </div>

            <div th:if="${isNameEmpty}">
                <div class="alert alert-danger">Не все обязательные поля заполнены!</div>
            </div>

            <form th:object="${task}" th:action="@{/task/update/{taskId}(taskId=${task.id})}" method="post">
                <div class="form-group">
                    <label for="name">Название</label>:
                    <input type="text"
                           id="name"
                           name="name"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="название"
                           th:field="*{name}" />
                </div>

                <div class="form-group">
                    <label for="desc">Описание</label>:
                    <input type="text"
                           id="desc"
                           name="desc"
                           class="form-control"
                           placeholder="описание"
                           th:field="*{desc}" />
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   class="form-control btn btn-primary"
                                   value="Изменить" />
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <h3>Комментарии</h3>
            <br>
            <div id="loading" class="text-center m-5" style="display: none"></div>
            <ul id = "comments-list" th:data="${task.id}"></ul>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/edit.js}"></script>

</body>
</html>