<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Цветные квадраты</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/normalize.css">
</head>
<body>
    <header class="game-header">
        <h1 class="level"></h1>
        <h1 class="timer">Оставшееся время: 30 сек.</h1>
    </header>
    <div class="playing-field">
        <ul class="square-list ul-reset">

        </ul>
    </div>
    <div class="bottom-menu">
        <a class="button-start button-start-bot"> Запустить бота </a>
    </div>
    <footer class="footer">
        <p>Работу выполнил студент 4-го курса ММФ Зимин Илья Владимирович</p>
    </footer>

    <script type="text/javascript" src="../js/game.js"></script>
</body>
</html>

