@import './colors';

html {
	font-size: 14px;
   	@media screen and (max-width: 1280px) {
     	font-size: 13px;
   	}
}

body {
    margin: 0;
    padding: 0;
	font-size: 14px;
    background: $color-mono-50;

    font-family: 'Roboto', sans-serif;
    color: $color-mono-800;

    #app > .content {
    } 
}

textarea,
pre {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    font-size: 1rem;
}

i {
    font-size: 1.71rem;
    line-height: 24px;
    padding: 4px;
    color: $color-mono-400;
}

a {
    color: $color-blue;
    cursor: pointer;
    text-decoration: none;

    &:visited {
        color: $color-blue;
    }

    &:hover {
        color: $color-blue-lighter;
    }
}

ul {
    list-style: none;
    padding-left: 48px;
    margin-top: 16px;
    margin-bottom: 16px;
}
